/* CSS files add styling rules to your content */

body {
  background: #F8F4D4;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #D4D8F8;
}

img {
  width: 100%;
  max-width: 800px;
}
