/* CSS files add styling rules to your content */

body {
  background: #F3EAC6;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #A6B4CD;
}

img {
  width: 100%;
  max-width: 800px;
}
