/* CSS files add styling rules to your content */

body {
  outline: 4px dotted rgba(184, 212, 212);
  outline-offset: 18px;
  background: url("https://cdn.glitch.global/ec5df96a-2840-45eb-b5b4-278163b71efd/background%20photo%20design-01.png?v=1645578379697");
  background-size: cover;
  background-attachment: fixed;
  font-family: helvetica, arial, sans-serif;
  margin: 35px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #90439f;
  font-family: "Shizuru", cursive;
  word-spacing: -40px;
}

h2 {
  font-size: 35px;
  padding-bottom: 30px;
}

img {
  width: 100%;
  max-width: 800px;
}

nav,
main {
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

p {
  text-align: center;
  color: #90439f;
}
#copyright {
  font-size: 12px;
}

a {
  color: #428c8c;
}

button {
  line-height: 18px;
  padding: 30px;
  border-radius: 50px;
  color: #ffe8fd;
  background: #50d627;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #323585;
  border: 10px dotted #1c6ea4;
  transition: all 0.4s ease;
}
button:focus {
  color: green;
}

button: focus {
  outline: 6px var(--red) dashed;
}

button:hover {
  background: var(--red);
  color: blue;
}
